<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <app-topbar></app-topbar>
    <br>
    <div class="section">
    <div class="container">
     <div class="center blue-grey-text">
         <h4 style="font-family: 'Times New Roman'; font-weight:bold">CONSULTER VOS FACTURES</h4>
        </div>
    <div class="row">
        <div class="col l4 m4">
            <img src="../../../assets/image/LOGOSENELEC1.png"  class="circle responsive-img" width="200px" alt="" srcset="" >
         </div>
         <div class="col l4 m4 ">
            <div class="input-field hoverable">
                <label for="" class="blue-grey-text">NUMERO DE COMPTEUR</label>
                <i class="material-icons prefix indigo-text text-darken-3">search</i>
                <input type="number" id="search" class="transparent" placeholder="ENTRER VOTRE NUMERO DE COMPTEUR">
            </div>
         </div>
         <div class="col l4 m4">
             <button class="btn btn-large btn-floating indigo darken-3 pulse" style="margin-top: 10Px;">
                <i class="material-icons prefix white-text">search</i>
             </button>
         </div>
    </div>
</div>
</div>
<div class="preloader-wrapper indigo medium active" id="loading">
    <div class="spinner-layer spinner-white-only">
      <div class="circle-clipper indigo darken-3 left">
        <!-- <div class="circle"></div> -->
      </div><div class="gap-patch">
        <!-- <div class="circle red darken-3"></div> -->
      </div><div class="circle-clipper red darken-3 right">
        <!-- <div class="circle red"></div> -->
      </div>
    </div>
  </div>
</body>
</html>

