<nav class="grey darken-3">
    <div class="container">
        <div class="nav-wrapper">
            <a href="index.html" class="brand-logo center"><i class="white-text" style="font-family: papyrus; font-weight: bold; font-size: larger;">
                Univers-2E
            </i>
        </a>
                <a href="" data-target="mobile-nav" class="sidenav-trigger show-on-large right">
                <i class="material-icons">menu</i>
            </a>
            <!-- Sidenav menu du projet SenAdmin -------------------------------------------------------------->
            <ul id="mobile-nav" class="sidenav grey darken-3">
                <li>
                  <div class="user-view cyan darken-3">
                      <a href="#">
                       <img src="../../../assets/image/USERICONS4.png" width="100px" class="responsive-img"  alt="" srcset="">
                       </a>
                       <a href="">
                           <span class="name">
                               HexaDec4
                           </span>
                       </a>
                       <a href="">
                           <span class="email">
                               HD4@gmail.com
                           </span>
                       </a>
                  </div>
                 </li>
                 <li>
                   <a href="" class="white-text hoverable" routerLink="/dashboard">
                      <i class="material-icons white-text">dashboard</i>
                      Tableau de bord
                    </a>
                  </li>
                 <li>
                   <a href="" class="white-text"  routerLink="/poste">
                     <i class="material-icons white-text">send</i>
                       Postes
                   </a>
                   </li>
                 <li>
                     <a href="" class="white-text" routerLink="/categorie">
                         <i class="material-icons white-text">filter_hdr</i>
                         Catégories
                    </a>
                 </li>
                 <li>
                     <a href="" class="white-text" routerLink="/commentaire">
                         <i class="material-icons white-text">comment</i>
                         Commentaires
                       </a>
                </li>
                 <li>
                     <a href="" class="white-text" routerLink="/subscriber">
                         <i class="material-icons white-text">person_identity</i>
                         Utilisateurs
                     </a>
                   </li>
                 <li>
                   <div class="divider grey"></div>
                </li>
                <li>
                   <a class="supheader white-text">
                       <i class="material-icons white-text">https</i>
                       Controles de comptes
                   </a>
                </li>
                <li>
                   <a href="" routerLink="/index" class="waves-effect white-text">
                       <i class="material-icons white-text">logout</i>
                        Déconnexion
                   </a>
                </li>
               </ul>
           </div>
       </div>
   </nav>
  