<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <app-topbar></app-topbar>
    <br>
    <div class="section">
    <div class="container">
        <div class="center">
           <img src="../../../assets/image/LOGOSENELEC1.png"  class="circle responsive-img" width="200px" alt="" srcset="" >
        </div>
    <div class="row">
        <div class="col s12 m6 l3 center">
            <div class="card-panel transparent white-text">
              <i class="material-icons indigo-text text-darken-2 medium">article</i>
              <a href="" routerLink="/facture" class="btn btn-large indigo darken-2 waves-effect hoverable">Mes Factures</a>
            </div>
        </div>
        <div class="col s12 m6 l3 center">
            <div class="card-panel transparent white-text">
              <i class="material-icons indigo-text text-darken-2 medium">paid</i>
              <a href="" routerLink="/payement" class="btn btn-large indigo darken-2 waves-effect hoverable">Payements</a>
            </div>
        </div>
        <div class="col s12 m6 l3 center">
            <div class="card-panel transparent white-text">
              <i class="material-icons indigo-text text-darken-2 medium">assignment_ind</i>
              <a href="" routerLink="/abonnement" class="btn btn-large indigo darken-2 waves-effect hoverable">Abonnements</a>
            </div>
        </div>
        <div class="col s12 m6 l3 center">
            <div class="card-panel transparent white-text">
              <i class="material-icons indigo-text text-darken-2 medium">ev_stations</i>
              <a href="" class="btn btn-large indigo darken-2 waves-effect hoverable">Compteurs</a>
            </div>
        </div>
        <div class="row">
          <div class="col l6 m6 s12">
            <div class="card-panel transparent hoverable" style="padding-bottom: 105px;">
              <img src="../../../assets/image/USERICONS6.jpg" width="600px" alt="" class="circle responsive-img">
            </div>
          </div>
          <div class="col l6 m6 s12">
            <div class="card-panel transparent hoverable" style="padding-bottom: 50px;">
              <span class="card-title">SOMMAIRE</span>
              <h6 class="blue-grey-text" style="font-family: papyrus; font-weight:bold">La Senelec est plus que jamais engagée à assurer la meilleure qualité de service à ses clients dans le cadre d’une démarche commerciale proactive.
              Cette démarche sera portée en bandoulière dans toutes nos interactions en favorisant une mise en opération commerciale de proximité avec le client et la satisfaction de ses besoins et attentes.
              C’est dans ce sens que nous avons initié des projets majeurs et des solutions innovantes orientées clients afin de faire de Senelec, l’Entreprise publique préférée des Sénégalais. Entre autres, nous pouvons citer :
              La mise en place d’une Agence en ligne pour une dématérialisation des services. Ce qui permettra au client d’interagir avec l’agence via les moyens digitaux (smartphone, agence en ligne, etc.) ;
              La généralisation de la Gestion des Files d’Attentes (GFA) dans les agences pour une meilleure organisation de l’affluence durant les périodes de rush ;
               </h6>
              </div>
          </div>
        </div>
    </div>
</div>
</div>
<div class="preloader-wrapper indigo medium active" id="loading">
  <div class="spinner-layer spinner-white-only">
    <div class="circle-clipper indigo darken-3 left">
      <!-- <div class="circle"></div> -->
    </div><div class="gap-patch">
      <!-- <div class="circle red darken-3"></div> -->
    </div><div class="circle-clipper red darken-3 right">
      <!-- <div class="circle red"></div> -->
    </div>
  </div>
</div>
</body>
</html>
