<nav class="transparent">
    <div class="nav-wrapper">
        <div class="container">
      <a href="#" class="brand-logo left indigo-text text-darken-4 hoverable" style="font-family: 'Times New Roman', Times, serif;
      font-weight:bold">Univers<span class="green-text">-2E</span></a>
      <ul id="nav-mobile" class="right on-med-and-down">
        <li><img src="../../../assets/image/USERICONS4.png" class="circle responsive-img" width="50px" style="font-weight:bold"/></li>
        <li><a href="" routerLink="/authentification" class="blue-grey-text" style="font-weight:bold">
          SPACE AGENT
        </a></li>
        <li>
        <a href="" routerLink="/">
            <i class="material-icons blue-grey-text medium" style="font-weight:bold">logout</i>
        </a>
    </li>
      </ul>
    </div>
    </div>
  </nav>