<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <app-topbar></app-topbar>
    <br>
    <div class="section">
    <div class="container">
        <div class="center">
           <img src="../../../assets/image/SENEAU1.png" class="circle responsive-img" width="200px" alt="" srcset="" >
        </div>
    <div class="row">
        <div class="col s12 m6 l3 center">
            <div class="card-panel transparent white-text">
              <i class="material-icons green-text text-darken-2 medium">article</i>
              <a href="" class="btn btn-large green darken-2 waves-effect hoverable">Mes Factures</a>
            </div>
        </div>
        <div class="col s12 m6 l3 center">
            <div class="card-panel transparent white-text">
              <i class="material-icons green-text text-darken-2 medium">paid</i>
              <a href="" class="btn btn-large green darken-2 waves-effect hoverable">PAYEMENTS</a>
            </div>
        </div>
        <div class="col s12 m6 l3 center">
            <div class="card-panel transparent white-text">
              <i class="material-icons green-text text-darken-2 medium">assignment_ind</i>
              <a href=""  class="btn btn-large green darken-2 waves-effect hoverable">Abonnements</a>
            </div>
        </div>
        <div class="col s12 m6 l3 center">
            <div class="card-panel transparent white-text">
              <i class="material-icons green-text text-darken-2 medium">ev_stations</i>
              <a href="" class="btn btn-large green darken-2 waves-effect hoverable">Compteurs</a>
            </div>
        </div>

        <div class="col l6 m6 s12">
          <img src="../../../assets/image/USERICONS4.png" alt="" class="responsive-img">
     </div>
    </div>
</div>
</div>
<div class="preloader-wrapper indigo medium active" id="loading">
  <div class="spinner-layer spinner-white-only">
    <div class="circle-clipper indigo darken-3 left">
      <!-- <div class="circle"></div> -->
    </div><div class="gap-patch">
      <!-- <div class="circle red darken-3"></div> -->
    </div><div class="circle-clipper green darken-3 right">
      <!-- <div class="circle red"></div> -->
    </div>
  </div>
</div>
</body>
</html>

