/* You can add global styles to this file, and also import other style files */
* {
    scrollbar-width: thin;
    scrollbar-color:blue  white  ;
    border-radius: 1px cyan ;
  }
  /*  scrollbar  pour les autres navigateurs */
  *::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

*::-webkit-scrollbar-track {
  background: rgb(0, 119, 255);
}

*::-webkit-scrollbar-thumb {
  background-color:rgb(0, 183, 255);
  border-radius: 20px;
  border: 1px solid cyan;
}
#loading
{
 position: absolute;
 top: 40%;
 left: 47%;
}